<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ignorer le dossier API
    RewriteRule ^hosPharmacie/ - [L]
    
    # Vos règles existantes
    RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot|map|json|txt)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>

AddType application/javascript .js