.folderCards {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  min-width: 190px;
  min-height: 190px;
  border: 10px solid white;
  text-decoration: none;
  color: white;
}
.folderCards h2 {
  background-color: rgba(29, 22, 52, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .folderCards {
    min-width: calc(50% - 10px);
    min-height: calc(50vw * 0.9 - 10px);
  }
  .folderCards h2 {
    font-size: 1em;
  }
}

.folderCards .typeDescription {
  width: 100%;
  background-color: rgba(29, 22, 52, 0.6);
  backdrop-filter: blur(10px);
  color: var(--primary-text);
  padding: 5px 10px;
  font-size: 0.6em;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.folderCards.backend {
  background-image: url("../../assets/media/backendIMG.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.folderCards.fullstack {
  background-image: url("../../assets/media/fullstackIMG.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
