:root {
  --primary-light: #7261a0;
  --primary: #2e2741;
  --primary-dark: #000000;
  --primary-text: #fff;
  --primary-light-text: #fff;
  --primary-dark-text: #fff;
  --secondary-light: #b86649;
  --secondary: #4b291d;
  --secondary-dark: #000000;
  --secondary-text: #fff;
  --secondary-light-text: #fff;
  --secondary-dark-text: #fff;
  --tertiary-light: #49b866;
  --tertiary: #1d4b29;
  --tertiary-dark: #000000;
  --tertiary-text: #fff;
  --tertiary-light-text: #000;
  --tertiary-dark-text: #fff;
}
